*{
    margin: 0;
    padding: 0;
    border: none;
}

.navbar {
  background-color: #333;
  color: #f6f6f6;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

}

.navbar ul {
  list-style: none;
  padding: 0;
  text-align: center; 
}

.navbar li {
  display: inline;
  margin: 0 15px; 
}

.navbar a {
  text-decoration: none;
  color: #f9f2f2;
  font-size: 18px; 
}

.navbar a:hover {
  color: #00aaff; 
}

  /*Início das alterações para o banner inicial*/
.banner{
    background-image: url("../images/banner_image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@font-face {
  font-family: "titulo"; 
  src: url("SuperCool.ttf") format("truetype"); 
}
section.banner > h1{
    font-family: 'titulo';
    color: #FA1E4E;
    font-size: 5vh;
}
#btn-banner{
    background-color: #7a1c7a;
    color: #f1e1e1; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 10px;
  }
  #btn-banner a {
    text-decoration: none;
    color: #eee6e6;
  }
  
  
 
  #btn-banner:hover {
    background-color: #FA1E4E; 
    transform: scale(1.1); 
    transition: all 0.3s; 
  }


  #btn-banner a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  /*Início das alterações para os serviços*/
  .servicos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FA1E4E;
    height: 50vh;
    width: 100%;
  }
  .servicos > h1{
    align-self: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
  }
  .servicos  p{
    height: 10%;
    margin: 0;
    padding: 0;
    color: #f1e1e1;
  }
  .servicos > div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /*overflow-x: auto;
    flex-wrap: wrap;
    */
  }
  

  div.imagens-servicos img{
    width: 100%;
    width: 100px;
    align-self: center;
  }
  div.imagens-servicos  h2{
    margin: 0;
    padding: 0;
    color: #7a1c7a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /*Início das alterações para o portfólio*/
  .portfolio {
    display: flex;
    flex-direction: column;
    background-color: #7a1c7a;
    height: 100vh;
    width: 100%;
    justify-content: center;

  }
  div.portfolio img{
    width: 300px;
    height: 200px;
    padding: 10px;

  }
  .portfolio h1{
    align-self: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
  }
  /*lembra de usar media querie*/
  .portfolio-linha{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .efeito-imagem-portfolio:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .portfolio-linha h3{
    text-align: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  /*time line*/
  .timeline{
    background-color: #FA1E4E;
    height: 100vh;
}

.timeline-area{
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 30px 20px 0 30px;
}

.timeline-area div{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    margin-bottom: 20px;
    display: flex; 
}

div::before{
    content: '';
    display: block; 
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}

div::after{
    content: ''; 
  
}

.timeline-area p{
    margin: 0;
    font-size: 12px;
}

.timeline-area div h2{
    margin: 0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.card1::after{
  content: '';
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url("../images/game-finalFantasy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.card2::after{
  content: '';
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url("../images/game-gta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.card3::after{
  content: '';
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url("../images/game-redDead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.card4::after{
  content: '';
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url("../images/game-zelda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}
.timeline-area small{
  color: #fbfafa;

}

/*Sessão time*/
.sessao-time {
  background-color: #7a1c7a;
  height: 100vh;
}
.sessao-time h2{
  text-align: center;
  padding-top: 3%;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;  
  color: #f9f2f2;
}
.cards-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.card-time img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.card-time h3 {
  margin-top: 10px;
  color: #7a1c7a;
  font-size: 20px;
}
.redes-sociais {
  display: flex;
  margin-top: 10px;
}
.redes-sociais a {
  margin: 5px;
  color: #7a1c7a;
  font-size: 25px;
}

.redes-sociais img{
  width: 20px;
  height: 20px;
}
.redes-sociais button{
  background-color: white;

}
.redes-sociais button:hover{
  background-color: white;
  transition: all 0.3s;
  transform: scale(1.1);

}

/* Formulario */

#formulario{
  background-color: #FA1E4E;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
}



.informacoes-pessoais{
  margin-top: 2%;
  margin-right: 3%;
}
.informacao-pessoal{
  padding-bottom: 3%;
}

.informacao-pessoal label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e1dddd;
}
.comentario label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e1dddd;
  display: block;
  padding-top: 3%;
  
}

#formulario button{
  cursor: pointer;
  padding: 1%;
  border-radius: 7%;
}
#formulario button:hover{
  opacity: 0.9;
}
#formulario h2{
  text-align: center;
  
}

/*Rodapé*/
.rodape{
  background-color: #7a1c7a;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.rodape h3{
  color: #e1dddd;
}
.rodape-redes button{
  background-color: #7a1c7a;
  margin-left: 10px;
}
.rodape-redes img{
  width: 15px;
  height: 15px;
  padding-top: 30%; 
}

/*Ids para gerar a conexão com a navbar*/
#nosso-portfolio{}
#time-line{}
#nosso-time{}
#formulario{}

/**Para telas maiores**/
@media (min-width: 1300px){
  .timeline{
    padding-top: 10px;
  }
  .timeline-area div{
    line-height: 2.5;
  }
  .card-time > img {
    width: 300px;
    height: 300px;
  }
}
/**Para telas medianas(exs:tablet)**/
@media (min-width:600px) and (max-width:1024px){
  div.portfolio img{
    width: 150px;
    height: 150px;
    padding: 10px;

  }
  .card-time div {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    
  }
  #formulario{
    padding-top: 100px;
  }
}
/** celulares grandes**/
@media (min-width:450px) and (max-width: 600px){
  .servicos{
    height: 100vh;

  }
  .servicos h1{
    font-size: 30px;
  }
  .servicos div{
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .servicos p{
    font-size: 15px;
  }
  div.portfolio-linha{
    display: flex;  
    flex-direction: column;
  }
  div.portfolio img{
    width: 100px;
    height: 100px;
    padding: 10px;

  }
}

/**celulares menores**/
@media (max-width:450px){  
  .navbar li {
    display: block;
  }
  
  .navbar a {
    text-decoration: none;
    color: #f9f2f2;
    font-size: 10px; 
  }
  section.banner{
    overflow-x: hidden;
    width: 100%;
  }
  section.banner > h1{
    font-family: 'titulo';
    color: #FA1E4E;
    font-size: 4vh;
    width: 80%;
}
  .servicos{
    height: 100vh;
    width: 100%;
  }
  div.imagens-servicos img{
    width: 80px;
    align-self: center;
  }
  .servicos h2{
    font-size: 15px;
  }
  .servicos h1{
    font-size: 20px;
    padding-right: 7%;
    padding-bottom: 8%;
  }


  .servicos div{
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .servicos  p{
    height: 5%;
    width: 80%;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #f1e1e1;
  }
  .portfolio h1{
    align-self: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  div.portfolio-linha{
    display: flex;  
    flex-direction: column;
    align-items: center;
  }
  div.portfolio img{
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  .portfolio-linha h3{
    text-align: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
  }

  .timeline{
    background-color: #FA1E4E;
    height: 100vh;
}

.timeline-area{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    border-left: 2px solid #ccc;
    padding: 30px 20px 0 30px;
}

.timeline-area div{
    background-color: #fff;
    padding: 10px;
    font-size: 5px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    margin-bottom: 20px;
    display: flex; 
}

div::before{
    content: '';
    display: block; 
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}

div::after{
    content: ''; 
  
}

.timeline-area p{
    margin: 0;
    font-size: 7px;
    padding-left: 10px;
}

.sessao-time h2{
  text-align: center;
  padding-top: 3%;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;  
  color: #f9f2f2;
}
.cards-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.card-time img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-time h3 {
  margin-top: 10px;
  color: #7a1c7a;
  font-size: 15px;
}
.redes-sociais {
  display: flex;
  margin-top: 10px;
}
.redes-sociais a {
  margin: 5px;
  color: #7a1c7a;
  font-size: 25px;
}

.redes-sociais img{
  width: 10px;
  height: 10px;
}
.redes-sociais button{
  background-color: white;

}
.redes-sociais button:hover{
  background-color: white;
  transition: all 0.3s;
  transform: scale(1.1);

}


#formulario{
  background-color: #FA1E4E;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  padding-left: 2%;
}



.informacoes-pessoais{
  margin-top: 2%;
  margin-right: 3%;
}
.informacao-pessoal{
  padding-bottom: 3%;
}

.informacao-pessoal label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e1dddd;
  font-size: 12px;
}
.comentario label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e1dddd;
  display: block;
  padding-top: 3%;
  font-size: 12px;
}

#formulario button{
  cursor: pointer;
  padding: 1%;
  border-radius: 7%;
  font-size: 10px;
}
#formulario button:hover{
  opacity: 0.9;
}
#formulario h2{
  text-align: center;
  
}

.rodape h3{
  color: #e1dddd;
  font-size: 15px;
  padding-top: 0.5%;
}

}