*{
    margin: 0;
    padding: 0;
    border: none;
}

.section-inicial {
  background-color: #fbf7f7;
  height: 500px;
  text-align: center;
  padding: 100px;
}

.navbar {
  background-color: #333;
  color: #f6f6f6;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

}

.navbar ul {
  list-style: none;
  padding: 0;
  text-align: center; 
}

.navbar li {
  display: inline;
  margin: 0 15px; 
}

.navbar a {
  text-decoration: none;
  color: #f9f2f2;
  font-size: 18px; 
}

.navbar a:hover {
  color: #00aaff; 
}

  /*Início das alterações para o banner inicial*/
.banner{
    background-image: url("/images/banner_image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@font-face {
  font-family: "titulo"; 
  src: url("SuperCool.ttf") format("truetype"); 
}
section.banner > h1{
    font-family: 'titulo';
    color: #FA1E4E;
    font-size: 5vh;
}
#btn-banner{
    background-color: #7a1c7a;
    color: #f1e1e1; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 10px;
  }
  #btn-banner a {
    text-decoration: none;
    color: #eee6e6;
  }
  
  
 
  #btn-banner:hover {
    background-color: #FA1E4E; 
    transform: scale(1.1); 
    transition: all 0.3s; 
  }


  #btn-banner a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  /*Início das alterações para os serviços*/
  .servicos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FA1E4E;
    height: 50vh;
    width: 100%;
  }
  .servicos > h1{
    align-self: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
  }
  .servicos  p{
    height: 10%;
    margin: 0;
    padding: 0;
    color: #f1e1e1;
  }
  .servicos > div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  div.imagens-servicos > div{
    
   
  }
  div.imagens-servicos img{
    width: 100%;
    width: 100px;
    align-self: center;
  }
  div.imagens-servicos  h2{
    margin: 0;
    padding: 0;
    color: #7a1c7a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /*Início das alterações para o portfólio*/
  .portfolio {
    display: flex;
    flex-direction: column;
    background-color: #7a1c7a;
    height: 100vh;
    width: 100%;
    justify-content: center;

  }
  div.portfolio img{
    width: 300px;
    height: 200px;
    padding: 10px;

  }
  .portfolio h1{
    align-self: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
  }
  /*lembra de usar media querie*/
  .portfolio-linha{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .efeito-imagem-portfolio:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .portfolio-linha h3{
    text-align: center;
    color: #f1e1e1;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  #nosso-portfolio{

  }
  .time-line{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #FA1E4E;
    height: 100vh;
    margin: 0;
  }
  .container{
    padding: 10px 50px;
    width: 50%;
    background: #e21340;
  }
  .texto{
    padding: 20px 30px;
    background:#decbcf;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  .esquerda{
    left:0;
  }
  .direita{
    left: 50%;
  }
